.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    
}
.btn-proceed{
    width: 90%;
    height: 56px;
    font-size: 21px;
    margin: 10px auto;
    border-radius: 4px;
    background-color: #FF9900;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}