
.cart{
    background-color: rgba(255, 153, 0, 0.3);
    padding-left: 23px;
    position: sticky;
    top: 0;
}
.cart p{
    
    font-family: Lato;
    Font-style: Regular;
    Font-size: 17px;
    Line-height: 20px;
    Line-height: 100%;
    letter-spacing: 0.5%;
}